.card{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.wrapper{
    background:linear-gradient(204.27deg, rgba(8, 45, 67, 0.6) 35.14%, rgba(8, 45, 67, 0) 121.49%);
    width: 50%;
    height: 40vh;
}
.cardTitle{
    color: #fff;
    font-size: 28px;
    margin: 15px 0px 30px 0px;
}
.cardData{
    margin:0;
    font-size: 18px;
}
.cardContent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cardInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.cardInfo p{ 
    margin: 10px 0;
    color: #fff;
    border-bottom: #fff solid 1px;
    font-size: 18px;
}
.cardInput{
    color: #fff;
    font-size: 50px;
}

@media (max-width:768px){
    .card{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .wrapper{
        background:linear-gradient(204.27deg, rgba(8, 45, 67, 0.6) 35.14%, rgba(8, 45, 67, 0) 121.49%);
        width: 50%;
        height: 100%;
        border-radius: 20px;
    }
    .cardContent{
        display: flex;
        flex-direction: column;
    }
    .cardInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cardImgWrapper{
        margin: 0px 0px 20px 0px;
    }
}